


body{
    background-color: cyan;
    color: rgb(4,12,103);
    font-size: 16px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: cyan;
}

.box-1{
    background-color: whitesmoke;
    border: 5px cyan solid;
    border-style: groove;


}

.box-2{
    background-color: cyan;
    border: 15px, cyan solid;
}

.container{
    width: 80%;
    margin: auto
}

.box-1 h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1em;
}

#myform{
    background-color: cyan;
    padding: 50px;
}

#myForm input[type = "sumbit"], .button{
    padding: 8px;
    border: none;
    background-color: cyan;
    color:cyan
}
/* .flex-container{

    display: flexbox;
    flex-direction: row;
} */


a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: aqua;
}

a:active{
    color: blueviolet;
}